@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;1,700&display=swap');
body {
    font-family: 'Public Sans';
    display:inherit;
}

/* reset config padrao */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}
img{
    max-width: 100%;

}
a{
    text-decoration: none;

}

ul{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
/* fim reset */

 /* inicio cabecalho */

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    max-width: 1170; /*resolucao tela de note max */
    margin: 0 auto;
    flex-wrap: wrap;
    border: 2px solid #000;
    background-color: #000;
    
}
.cabecalho .titulo{
 margin-left: -800px;

}
.cabecalho .titulo a{
    color: #fff;
    transition: 0.3s ease-in-out;
   
}
.cabecalho .titulo a:hover{
    color: #DC143C;
    
}
.cabecalho .menu .item{
    display: inline;
    margin: 15px;
    text-transform: uppercase;
    color: #fff;
}
.cabecalho .menu .item a{
    color: #fff;
}
.cabecalho .menu .item a:hover{
    color: #DC143C;
    transition: 0.3s ease-in-out;
    border-bottom:solid 3px #DC143C;
}
.logo{
    margin-left: 20px;
    width: 50px;
    
}
@media(max-width:1280px){
    .cabecalho{
       
    }
    .logo{
        display: block;
    }
    .cabecalho .titulo{
        margin-left: -550px;
       
       }
       .cabecalho .menu .item{
           margin: 20px;
       }
       
}
@media (max-width:412px) {
    .cabecalho .menu .item{
        font-size: 15px;
        margin: 0 10px;
        padding: 5px;
        display: flex;
        justify-content: center;
    }
    .cabecalho .titulo{
        margin-left: -170px;
        font-size: 15px;
        margin-top: 10px;
       
       }
       .logo{
        
        margin-top: -60px;
    }
}
/* fim cabecalho */

/* inicio home */

.body-home{
    
 text-align: center;
    height: 600px;
    align-items: center;
}
.body-home h1{
  
    margin-top: 20px;

 
    
}
.body-home .slogan{
    padding: 20px auto;
    margin: 50px 20px;
    text-align: right;
    font-weight: 400;
}
.body-home .texto p{
    position: relative;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: solid 2px #000;
    font-size: 35px;
    margin-left: 250px;
    background-color: #000;
    color: #fff;
   

}
.body-home .imagem{
    margin: -400px 0 0 750px;
    align-items: flex-end;
    position: absolute;
    width: 500px;
    height: 400px;
    justify-content: space-between;
    border: solid 2px #000;
    background-image: url('../imagens/edmar.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin-right: -800px;
}
@media (max-width:412px) {
    .body-home .texto p{
      margin: 0 auto;
       font-size: 28px;
       flex-direction: column;
       text-align: left;
       justify-content: space-between;
       width: 100%;
       flex-wrap: wrap;
       display: none;
    }
    .body-home .imagem{
        margin: 0 auto;
    }

}
/* fim da home */

/* inicio madalidades */
.body-modal{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    position: relative;
}
.body-modal .painel1.mostrar{
    opacity: 1;
}

.body-modal .painel1{
    display: flex;
    background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 min-width: 100%;
 height: 100%;   
 position: absolute;
 z-index: -1;
 filter: brightness(70%);
    opacity: 0;
 transition: 0.3s ease-in-out;
 
}
.body-modal .imagem1{
    background-image: url('../imagens/jiu-jitsu3.jpg');
    
    
    
}
.body-modal .imagem1 .textimg{
    font-size: 30px;
    text-align: center;
    justify-content:space-between ;
    flex-direction: column;
    width: 400px;
    height: 400px;
    color:#fff;
    font-weight: 600;
    filter: brightness(100%);
    padding: 18px;
    background-color:  #000;
    margin-top: 200px;
    margin-left: 80px;
    flex-wrap: wrap;
    border-radius: 20%;
}
.body-modal .imagem2{
    background-image: url('../imagens/muay-thai.jpg');
}
.body-modal .imagem2 .textimg{
    font-size: 30px;
    text-align: center;
    justify-content:space-between ;
    flex-direction: column;
    width: 400px;
    height: 400px;
    color:#fff;
    font-weight: 600;
    filter: brightness(100%);
    padding: 18px;
    background-color:  #000;
    margin-top: 200px;
    margin-left: 80px;
    flex-wrap: wrap;
    border-radius: 20%;
}

.body-modal .imagem3{
    background-image: url('../imagens/krav-maga.jpg');
}

.body-modal .imagem3 .textimg{
    font-size: 25px;
    text-align: center;
    justify-content:space-between ;
    flex-direction: column;
    width: 400px;
    height: 400px;
    color:#fff;
    font-weight: 600;
    filter: brightness(100%);
    padding: 18px;
    background-color:  #000;
    margin-top: 200px;
    margin-left: 80px;
    flex-wrap: wrap;
    border-radius: 20%;
}

.body-modal .titulo{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: calc(1em + 1vw);
}
.body-modal .seta{
    background-image: url(../imagens/seta.png);
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    text-indent: 100%;
   overflow: hidden;
   background-repeat: no-repeat;
}
.body-modal .seta.btn-voltar{
    left: 20px;
    transform: rotateY(180deg);
    }
.body-modal .seta.btn-avancar{
    right: 20px;
}

@media (max-width:412px) {
    .body-modal .titulo{
        font-size: calc(0.8em + 1vw);
        text-align: center;
        margin: 0 auto;
    }
    .body-modal .imagem1 .textimg{
        display: none;
    }
    .body-modal .imagem2 .textimg{
        display: none;
    }
    .body-modal .imagem3 .textimg{
        display: none;
    }

    
}
    /* fim da modalidades */

    /* inicio somos */

.body-somos{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;
    background-color: #000;
}
.body-somos .titulo{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
.body-somos .text{
    margin-top: 40px;
    justify-content:space-between ;
    flex-direction: column;
    width: 400px;
    height: 600px;
    text-align: center;
    
    color: #FFFFFF;
    font-size: 25px;
}


/* fim da somos */

/* inicio da saiba */


.body-saiba .ctwcl .endereco{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.body-saiba .ctwcl .maps{
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}
@media (max-width:412px) {
    .body-saiba .ctwcl iframe{
        width: 412px;
    }

}

/* fim do saiba */

/* inicio do rodape */

.rodape{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000080;
    align-items: center;
    margin: 0 auto;
    height: 80px;
    
    
}

.rodape .tituloroda{
    display: flex;
    margin-right: 800px;
    text-align: right;
    
}
.rodape .tituloroda a{
    color: #fff;
    font-family: 700;
    text-align: left;
}
.rodape .logoroda {
  margin-left: 20px;
    width: 50px;
    
}
.rodape .rede-sociais{
        display: flex;
        color: #fff;
        
}
 .rodape .rede-sociais a{
    display: flex;
    justify-content: center;
    margin: 0 30px;
    font-size: 30px;
    border: 2px solid #111;
    border-radius: 50%;
    padding: 15px;
    width: 60px;
    transition: 0.3s ease-in-out;
    background-color: #fff;
    
 }
 .rodape .rede-sociais a:hover{
    background-color: #DC143C;
    transition: 0.3s ease-in-out;
   text-decoration-color: #fff;
}

@media(max-width:1280px){
    .rodape .rede-sociais a{
        margin: 0 10px;
        padding: 5px;
        border-radius: 55%;
    }

}
@media (max-width:412px) {
    .rodape{
        justify-content: space-between;
    }
    .rodape .rede-sociais{
        text-align: right;
        margin-top: -100px;
        margin-right: 0px;
        display: flex;
        align-items: flex-end;
    }
    .rodape .rede-sociais a{
        display: inherit;
        align-items: flex-end;
       
       
       
    }
    .rodape .tituloroda a{
        
        font-size: 10px;
        margin: 15px 0 0 5px
       
        
        
    }
    .rodape .logoroda{
        margin-top: -20px;
        margin-left: 10px;
        
    }
}


