@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;1,700&display=swap');
body {
    font-family: 'Public Sans';
}

/* reset config padrao */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}
img{
    max-width: 100%;

}
a{
    text-decoration: none;

}

ul{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
/* fim reset */

 /* inicio cabecalho */
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    max-width: 1170; /*resolucao tela de note max */
    margin: 0 auto;
    flex-wrap: wrap;
    border: 2px solid #000;
    background-color: #000;
    
}
.cabecalho .titulo{
 margin-left: -800px;

}
.cabecalho .titulo a{
    color: #fff;
    transition: 0.3s ease-in-out;
   
}
.cabecalho .titulo a:hover{
    color: #DC143C;
    
}
.cabecalho .menu .item{
    display: inline;
    margin: 15px;
    text-transform: uppercase;
    color: #fff;
}
.cabecalho .menu .item a{
    color: #fff;
}
.cabecalho .menu .item a:hover{
    color: #DC143C;
    transition: 0.3s ease-in-out;
    border-bottom:solid 3px #DC143C;
}
.logo{
    margin-left: 20px;
    width: 50px;
    
}
/* fim cabecalho */

/* inicio home */

.body-home{
 text-align: center;
    height: 600px;
    align-items: center;
}
.body-home h1{
  
    margin-top: 20px;

 
    
}
.body-home .slogan{
    padding: 20px auto;
    margin: 50px 20px;
    text-align: right;
    font-weight: 400;
}
.body-home .texto p{
    position: relative;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: solid 2px #000;
    font-size: 35px;
    margin-left: 250px;
    background-color: #000;
    color: #fff;
   

}
.body-home .imagem{
    margin: -400px 0 0 750px;
    align-items: flex-end;
    position: absolute;
    width: 500px;
    height: 400px;
    justify-content: space-between;
    border: solid 2px #000;
    background-image: url('../imagens/edmar.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin-right: -800px;
}
.body-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    position: relative;
}
.body-modal .painel1.mostrar{
    opacity: 1;
}

.body-modal .painel1{
    background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 min-width: 100%;
 height: 100%;   
 position: absolute;
 z-index: -1;
 filter: brightness(70%);
    opacity: 0;
 transition: 0.3s ease-in-out;
 
}
.body-modal .imagem1{
    background-image: url('../imagens/jiu-jitsu1.jpg');
    flex-direction: column; 
    color: #fff;
    
}
.body-modal .imagem1 .textimg{
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    
}
.body-modal .imagem2{
    background-image: url('../imagens/kravmagar.jpg');
}




